h2 {
    font-family: 'Segoe UI';
    font-weight: 727;
    margin-bottom: 0%;
}
.loginbuttona {
    text-align: center;
    
}
body {
    background-color: #EDF1D6;
}
label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#ruby {
    position: fixed;
    height: 100%;
    bottom: 1;
    right: 0;
    z-index: -1;
}
#pepper {
    position: fixed;
    height: 55%;
    bottom: 0;
    left: 1;
    right: 0;
    top: 1;
    z-index: -1;
}

.register-form {
    margin: 0 auto;
    width: 100%;
    max-width: 330px;
    padding: 20px;
    background-color: #9DC08B;
    border-radius: 10px;
    box-shadow: 0px 8px 16px #40513B;
}

#registrati {
    background-color: #609966;
    border-color: #609966;
}

.topnav {
    margin: 0%;
    background-color: #9DC08B;
    overflow: hidden;
    box-shadow: 0px 2px 8px #636363;
}
.topnav button:hover {
    cursor: pointer;
}

#logout {
    float: right;
    margin: 0%;
    overflow: hidden;
    margin: 6px 5px 6px 5px;
}
#logoutB {
    float: right;
    margin: 0%;
    background-color: #dfdfdf;
    overflow: hidden;
    box-shadow: 0px 2px 8px rgb(99, 99, 99);
    padding: 0px 0px;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    
    margin: 6px 5px 6px 5px; 
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px;
}
#button2:hover {
    background-color: #609966;
}
.topnav a {
    background-color: #9DC08B;
    color: black;
    cursor: pointer;
}
.topnav a:hover {
    background-color: #609966;
    color: black;
    cursor: pointer;
}
.topnav a.active {
    background-color: #04AA6D;
    color: white;
    cursor: pointer;
}

.textbox {
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    font-family: 'Consolas';
    font-size: 24px;
    
}
.textbox2 {
    box-sizing: border-box;
    border: 0px solid gray;
    text-align: center;
    font-family: 'Consolas';
    font-size: 24px;
    box-shadow: 0px 4px 8px rgb(80, 80, 80);
    border-radius: 1rem;
}
.shadow {
    box-shadow: inset rgba(60, 70, 85, 0.5) 0px 0px 40px 0px, inset rgba(60, 70, 85, 0.5) 0px 0px 40px 0px, inset rgba(0, 0, 0, 1) 0px 0px 36px -24px;
  }

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #ccc;
  }

  .content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  #loginbutton {
    background-color: #609966;
    border-color: #609966;
  }

  .Utenti {
    background-color: #9DC08B;
    border-radius: 10px;
    box-shadow: 0px 8px 16px #40513B;
    padding: 20px;
    width: 100%;
    max-width: 330px;
    display: inline-table;
    margin-right:10px;
  }

  #conferma {
    float: right;
  }

  #offcanvasRight {
    background-color: #EDF1D6;
    border-radius: 10px;
  }

  .offcanvas-header {
    background-color: #609966;
    box-shadow: 0px 2px 4px #40513B;
  }

  .card {
    background-color: #9DC08B;
    border-radius: 10px;
    box-shadow: 0px 8px 16px #40513B;
    padding: 20px;
    width: 100%;
    max-width: 330px;
    display: inline-table;
    margin-bottom:25px;
    margin-left:25px;
  }
  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    border-radius: 15px;
  }